body {
    font-family: 'Courier New', Courier, monospace;

    .task-list-container {
        border: 1px solid #232323;
        width: 30%;
        display: inline-block;
        padding: 8px 20px;
    }

    .create-task-form {
        margin: 5px;
    }

    /* .backlog,
    .in-progress,
    .closed {
        display: inline-block;

    } */
}